#grade {
    display: flex;
    height: 40px;
    gap: 5px;

    width: 300px;
}

#first, #second, #third, #fourth{
    width: 100px;
    border: black solid 0.5px;
    font-family: var( --mainFont);
    text-align: center;
    font-size: 10px;
}


#commentAboutCity{
    margin-top: 10px;
    width: 300px;
    height: 150px;
    border: black solid 0.5px;  
    font-size: 10px;
    
    display: grid;
    
    text-align: center;
}


#name{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}



.commentStudent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: white;
    background-color: var(--colorRed);
    font-size: 12px;
}

#newComment{
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: flex-end;
   
   
}
