body{
    background-color: var(--backgroundColor);
    height: 100vh;
}

#header{
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}

#header :last-child{
    background-image: url("Icons/StudyAbroad.png");
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: right;
}

#header :first-child{
    justify-content: left;
}

.top{
    display: flex;
    justify-content: center; 
}

h1{
    font-family: var(--titleFont);
    margin: 0px;
}

.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#picture{
    background-image: url(../Icons/StudyAbroad.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-X: right;

    margin-top: 20px; 
}






#title{
    display: flex;
    justify-content: center;
    align-items: center;
}

#article{
    width: 70vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
}


#articleCity{
    width: 70vw;
}

.info{
    background-color: rgb(243, 243, 243);
    height: 270px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

p{
    margin-left: 20px;
    margin-right: 20px;  
}

#images{
    height: 270px;
    width: 35vw;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

#center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.image{
    height: 270px;
    width: 35vw;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cityInfo{
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.textbox{
background-color: rgb(243, 243, 243);
height: 270px;
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
align-items: center;
}













.commentBox{
    display: flex;
    flex-direction: column;
}


.name{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.commentStudent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: white;
    background-color: var(--colorBlue);
    font-size: 12px;
}

.newComment{
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 5px;
}

.commentAboutCity{

    font-size: 15px;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    border: black solid 0.5px;
    background-color: rgb(243, 243, 243);
    height: 270px;
    

}

.grade{
  
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    border: black solid 0.5px;
    background-color: rgb(243, 243, 243);
    height: 270px;
}