:root {
    --backgroundColor: rgb(251, 252, 246);
    --textcColor: white;
    --colorRed: #E2736B;
    --colorBlue: rgb(111, 161, 180, 0.8);
    --titleFont: "Arial"; 
    --mainFont:'times new roman'; 
}