body{
  background-color: var(--backgroundColor);
  margin: 0;
}

html{
  scroll-behavior: smooth;
}

#redStripe{
  margin: 0px;
  width: 100vw;
  height: 100px;
  background-color: var(--colorRed);
  display: flex;
  justify-content: center;
  align-items: center;
}

#header{
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  
}

.top1{
  background-image: url("Icons/StudyAbroad.png");
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: right;
}

#header :first-child{
  justify-content: left;
}

.top{
  display: flex;
  justify-content: center; 
}

h1{
  font-family: var(--titleFont);
  margin: 0px;
  color: var(--textcColor);
}

.container {
  overflow: hidden;
}
  
.show {
    display: block;
}
  
.filterHeader {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.filterHeader > div {
  padding: 16px 10px;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btnClear {
  padding: 16px 10px;
  text-align: right;
  font-size: 25px;
  color: var(--colorRed);
  border: none;
  background-color: #DEDEDE;
}

#filterContainer{
  display: flex;
  flex-direction: column;
}


.btnClear:hover{
    cursor: pointer;
}

h4{
  color: rgb(66, 65, 65);
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  margin: 5px;
  background-color: #FFFFFF;
  cursor: pointer;
  font-size: 10px;
}
  
.btn:hover {
  background-color:var(--colorRed);
}

#filterContainer{
  border: 6px var(--colorRed) solid;
  width: 300px;
  height: 500px;
  margin-top: 30px;
  margin-left: 30px;
  background-color: #DEDEDE;
}

.filterSection, .filterSection2, .filterSection3{
  display: grid;

  
}

#filterSectionName, #filterSectionField, #filterSectionLevel{
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#wrapper1, #wrapper2, #wrapper3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
}

.navbar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#picture{
  background-image: url(../Icons/StudyAbroad.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-X: right;

  margin-top: 20px; 
}

#title{
  display: flex;
  justify-content: center;
  align-items: center;
}


#utbBoxContainer {
  float: right;
  margin-right: 50px;
  width: 1000px;
  height: 100%;
  margin-left:  30px;
  margin-top: 30px;
}

.utbBox {
  background-color: #C4C4C4;
  margin-bottom: 10px;
  padding: 10px 10px 10px 0;
  height: 110px;
  width: 1000px;

  
}

.UtbBox>h1 {
  color: black;
}
h1, h4 {
  padding-left: 10px;
}

.UtbBox>h2 {
  color: black;
  margin: 5px 0px 5px 25px;
  font-family: var(--mainFont);
  text-decoration: underline;
}

.UtbBox >p {
  color: black;
  margin: 5px 0px 25px 25px;
  font-family: var(--titleFont); 
}

.containerKnappen {
  height: 120px;
}

main {
  display: flex;
  flex-direction: row;
}

.title{
  color: black;
}



#filterContainer{
  display: flex;
  flex-direction: column;
}

#annons{
  color:rgb(163, 160, 160);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8px;
}
#advertising1{

  
  height: 650px;

  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../advertising/reklam1.png);
}

#wrapper{
  margin-top: 30px;

  

}

.to-top{
  background-color: rgb(71, 71, 71);
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(247, 243, 243);
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  transition: all .4s;
}

i{
  text-align: center;
}

.to-top.active{
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}


.commentStudent{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: white;
  background-color: var(--colorRed);
  font-size: 12px;
}



#newComment1{
  display: flex;
  text-decoration: underline;
  justify-content: center;
  align-items: flex-end;
  
  margin-bottom: 5px;
  cursor: pointer;
}

#commentAboutProgramme{
  margin-top: 44px;
  width: 300px;
  height: 160px;
  border: black solid 0.5px;  
  font-size: 10px;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;

  
}


