body {
    background-color: var(--backgroundColor);
    margin: 0;
}

.wrapper {
    margin-top: 100px;
    margin-right:100px;
    width: 1000px;
    height: 660px;
    background-color: #C4C4C4;
}

.specifikationer {
    margin-left: 36px ;
    font-family: var(--titleFont);
}

.first{
    padding: 15px 0px 0px 0px;
    margin: 0;
    font-size: 40px;
}
.second {
    padding-top: 5px;
    margin: 0;
    text-decoration: underline;
    font-size: 33px;
}
.third {
    margin: 2px 0px 5px 0px;
    font-size: 33px;
}
.container {

    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.newBox {
    height: 450px;
    display: flex;
    justify-content:space-evenly;
    
}
#box-1 {
    background-color: #C4C4C4;
    margin-top: 41.5px;
    width: 180px;
    font-family: var(--titleFont);
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

#box-1 div {
    background-color: #DCDCDC;
    height: 47px;
}
#box-1 div p {
    padding-left: 15px;
    padding-top: 15px;
    
}

#box-2 {
    margin-top: 44px;
    background-color: white;
    height: 312px;
    width: 312px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--titleFont);
}


.rubrik {
    margin: 0;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7; 
    color: black;
}

.rows-3 {
    display: flex;
    font-weight: 600;
    text-decoration: underline;
    font-size: 15px;
    opacity: 0.7;
}

.rows-3 p {
    margin:0;
}

.rows-3 div {
    width: 100px;
    text-align: center;
    
}
.siffror {
    display: flex;
    margin-top: 3px;
    height: 212px;
}

.Year{
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 2px;
}

.Rate {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.Grade {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 2px;
}

.rad-1{
    height: 42.4px;
    background-color: #DCDCDC;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
    
}
.rad-2 {
    height: 42.4px;
    background-color: #DCDCDC;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
}
.rad-3 {
    height: 42.4px;
    background-color: #DCDCDC;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
}
.rad-4{ 
    height: 42.4px;
    background-color: #DCDCDC;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
}
.rad-5 {
    height: 42.4px;
    background-color: #DCDCDC;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#box-3 {
    margin-top: 58px;
    background-color: white;
    height: 312px;
    width: 312px;
    
}
.text-1 {
    background-color: #E2736B;
    height: 95px;
    font-family: var(--titleFont);
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.text-1 h1 {
    margin: 0;
    color: #FFFFFF;
}

.urberg {
    font-family: var(--titleFont);
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.urberg p {
    margin: 0;
}

.GustavKommentar {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.GustavKommentar p {
    color: #E2736B;
    margin: 0;
    font-weight:bolder;
    font-size: 15px;
    text-align: center;
    
}
.nästa {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}
.showMoreBtn { 
    float: right; 
    border: none;
    padding: 10px;
    background-color: var(--colorRed); 
    cursor: pointer; 
    font-size: 16px; 
    width: 120px;
}